/*
 * Root Preferences
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
/*     color: var(--black)!important; */
}

:root{
    --lightBlue: #0092ff;
    --darkBlue: #3a475d;
    --acuaBlue: #01ff9f;
    --yellow: #a6ff01;
    --black: #29313e;
    --white: #ffffff;
}
h4 {
    font-size: 1.5rem !important;
    font-weight: 700;
}

/*
 * NAVBAR
 */

#navbarNavDropdown{
    /* top: 65px!important;
    padding: 20px!important; */
}
.navbar-collapse  {
    top: 65px!important;
    padding: 10px!important;
    width: 102vw !important;
}
.navbar-toggler {
    z-index: 2;
    top: 90px!important;
    position: fixed;
    background: white;
    top: 20px!important;
}
 .navbar{
     /* top: 25px; */
     top: 0px;
    
 }
 .collapse{
    top: 100px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
   /*  width: 100%; */
    margin: 0!important;
        width: 101vw;
    padding: 20px 20px;
    left: -10px;
 }
#stInitial{
    width: 220px!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
#navulContainer{
    width: 100%!important;
    justify-content: space-evenly;
}

#navbarDropdownMenuLink, .dropdown-item{
    text-transform: uppercase;
    text-align: center;
}
#navbarDropdownMenuLink:hover{
    color: var(--lightBlue);

}
.nav-link, .dropdown-item{
    font-weight: 500!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8)!important;
}
#navbarDropdownMenuLink:hover {
    color: var(--lightBlue)!important;
}

#imageContainer{
    top: 0;
    position: fixed;
    z-index: 1;
    background: white; 
    width: 101vw;
    left: -10px; 
    
}
/*
 * Hero
 */

 .heroSection{
    display: grid;
    margin-top: 70px;
    grid-template: repeat(3,1fr) / repeat(5,1fr);
    width: 100%;
    height: 70vh;
 }
 #heroBackground{
     grid-column: 1 / 6;
     grid-row: 1 / 4;
     position: absolute;
 }

 #imgBackground{
    transform: scaleX(1);
    height: 70vh;
    /* position: absolute; */
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .heroContainer{
     position: relative;
     justify-content: center;
     align-items: center;
     /* height: 100vh; */
    grid-column: 1 / 3;
    grid-row:  1 / 4;
    display: flex;
    align-items: center;
}
.heroText{
    position: relative;
    color: var(--white);
    grid-column: 3 / 6;
    grid-row: 2 / 2;
}
#heroImage{
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
   /*  max-width: 50%; */
}

/*
 * Form
 */
 
 #signupForm{
    margin: auto;
 }

 .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff!important;
    outline: 0;
    box-shadow: none!important;
 }
.formSignup, .Explanation, .donate{
    padding: 50px;
}
.inputText{
    width: 100%;
}

.input-group-text, .form-control{
    background: transparent!important;
    border: none!important;
}

.input-group{
    border-bottom: 3px solid transparent;
    width: 100%!important;
    /* linear-gradient(to right, #01ff9f, #00ecd8, #00d4ff, #00b6ff, #0092ff); */
    border-image: linear-gradient(to right, var(--lightBlue) 0%, var(--acuaBlue) 100%) 1;
    /* border: 10px solid transparent; */
    /* border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1; */
}

.btn{
    /* background-image: linear-gradient(to right, #01ff9f, #00ecd8, #00d4ff, #00b6ff, #0092ff)!important; */
    padding: 10px 30px!important ;
    background-image: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue) 100%)!important;
    color: var(--white)!important;
    font-weight: 700!important;
    border-radius: 10px!important;
    border: none!important;
}

/*
 * Explanation
 */

#carouselImg{
    /* padding-top: 50px;
    padding-bottom: 50px; */
    height: 100vh;
    width: 100%;
}
#networkImage{
    min-width: 300px!important;
    width: 100%;
}

/*
 * Video
 */
.videoSection{
    display: grid;
    grid-template: repeat(3,1fr) / repeat(4,1fr);
    width: 100%;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #393c43, var(--black));
}
 #videoBackground{
    grid-column: 1 / 3;
    grid-row: 1 / 3 ;
    position: absolute;
    width: 100%;
   /*  height: auto; */
    justify-content: center;
    align-items: center;
/*     height: 400px;
    background: #01ff9f; */
}
#videoImg{
    background-size: cover;
    width: 100%;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
#videoBorder{
    width: fit-content;
    
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    background-image: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue) 100%)!important;
}
.videoContainer{
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    width: 100vw;
}
/*
 * Donate
 */

.donate{
    background: var(--black);
    margin: auto;
    z-index: 0;
    position: inherit;
}
.donateContainer, .bookContainer{
    margin: auto;
    background: var(--white);
    color: var(--black)!important;
    border-radius: 20px;
    padding: 40px;
}
#separator{
    width: 5px;
    background: var(--black);
    height: 100%;
}
.donateTitles{
    font-size: 25px;
}
#weTitle{
    font-weight: 100;
    font-size: 25px;
}
#weChange{
    background: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue));
    -webkit-background-clip: text;
    color: transparent;  
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 70px;
}

/*
 * Footer
 */
.footer{
    margin-bottom: -1px;
    background-color: var(--black);
}
.fa-facebook-f, .fa-instagram, .fa-youtube{
    color: var(--white);
    font-size: 40px;
}
.fa-envelope, .fa-phone{
    color: var(--white);
    font-size: 20px;
}
#contactUs, #followUs{
    padding-top: 40px;
    padding-bottom: 40px;
}

.white-text{
    color: white!important;
    font-weight: 100;
}

.white-textUpper {
    color: white!important;
    font-weight: 700;
    font-size: 1.5rem !important;
    text-align: center;
}
.brands{
    justify-content: center;
}
.brandsContainer{
    padding: 20px;
    margin: 10px;
    /* border: 1px solid var(--white); */
    justify-content: center;
    display: flex;
    width: 70px;
    height: 60px;
    border-radius: 15px;
    align-items: center;
    background: var(--darkBlue);
}

.rights{
    justify-content: center;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: -2px;
}   