/*
 * Root Preferences
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    /* overflow-x: hidden;
    overflow-y: hidden; */
/*     color: var(--black)!important; */
}

:root{
    --lightBlue: #0092ff;
    --darkBlue: #3a475d;
    --acuaBlue: #01ff9f;
    --yellow: #a6ff01;
    --black: #29313e;
    --white: #ffffff;
}
h4 {
    font-size: 1.5rem !important;
    font-weight: 700;
}

/*
 * NAVBAR
 */

#navbarNavDropdown{
    /* top: 100px!important; */
    /* 
    padding: 20px!important; */
}
.navbar-collapse  {
   /*  z-index: 2!important;
  
    padding: 10px!important;
    width: 100vw !important; */
    /* top: 100px!important; */
}

.navbar-toggler {
    z-index: 3;
    top: 90px!important;
    position: fixed;
    background: white;
    top: 20px!important;
}
 .navbar{
     /* top: 25px; */
     top: 0px;
    
 }
 /* .collapse{
    background-color: #ffffff;
    position: fixed;
    z-index: 2!important;
    margin: 0!important;
    width: 100vw;
    padding: 20px 20px;
    left: -10px;
 } */
#stInitial{
    width: 220px!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
#navulContainer{
    top: 80px;
    width: 100%!important;
    justify-content: space-evenly;
    position: fixed;
    z-index: 3;
    left: 0px;
    /* background: white; */
    padding: 10px;
    background-image: linear-gradient(white, #f0f4fb);
}

#navbarDropdownMenuLink, .dropdown-item{
    text-transform: uppercase;
    text-align: center;
}
#navbarDropdownMenuLink:hover{
    color: var(--lightBlue);

}

#navbarNavDropdown {
    /* top: 100px!important; */
    padding-top: 100px!important;
}
.nav-link, .dropdown-item{
    font-weight: 500!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8)!important;
}
#navbarDropdownMenuLink:hover {
    color: var(--lightBlue)!important;
}

#imageContainer{
    top: 0;
    position: fixed;
    z-index: 2;
    background: white; 
    width: 103%;
    padding: 10px;
    left: -10px; 
}
/*
 * Hero
 */

 .heroSection{
    display: grid;
    margin-top: 70px;
    grid-template: repeat(3,1fr) / repeat(5,1fr);
    width: 100%;
    height: 70vh;
 }
 #heroBackground{
     grid-column: 1 / 6;
     grid-row: 1 / 4;
     position: absolute;
 }

 #imgBackground{
    position: fixed;
    /* transform: scaleX(1); */
    height: 70vh;
    /* position: absolute; */
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--black);
 }
 .heroContainer{
     position: relative;
     justify-content: center;
     align-items: center;
     /* height: 100vh; */
    grid-column: 1 / 3;
    grid-row:  1 / 4;
    display: flex;
    align-items: center;
}
.heroText{
    position: relative;
    color: var(--white);
    grid-column: 3 / 6;
    grid-row: 2 / 2;
}
#heroImage{
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
   /*  max-width: 50%; */
}

/*
 * Form
 */
 
 #signupForm{
    margin: auto;
 }

 .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff!important;
    outline: 0;
    box-shadow: none!important;
 }
.formSignup, .Explanation, .videoSection, .donate, .footer{
    padding: 50px;
    background: white;
    z-index: 1;
    position: relative;
    width: 100vw!important;
    margin-bottom: -1px;
}

.BottomtextContainer p{
    text-align: center;
}

.inputText{
    width: 100%;
}

.input-group-text, .form-control{
    background: transparent!important;
    border: none!important;
}

.input-group{
    border-bottom: 3px solid transparent;
    width: 100%!important;
    /* linear-gradient(to right, #01ff9f, #00ecd8, #00d4ff, #00b6ff, #0092ff); */
    border-image: linear-gradient(to right, var(--lightBlue) 0%, var(--acuaBlue) 100%) 1;
    /* border: 10px solid transparent; */
    /* border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1; */
}

.btn{
    /* background-image: linear-gradient(to right, #01ff9f, #00ecd8, #00d4ff, #00b6ff, #0092ff)!important; */
    padding: 10px 30px!important ;
    background-image: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue) 100%)!important;
    color: var(--white)!important;
    font-weight: 700!important;
    border-radius: 10px!important;
    border: none!important;
    width: 100%!important;
}

/*
 * Explanation
 */

#carouselImg{
    /* padding-top: 50px;
    padding-bottom: 50px; */
    height: 100vh;
    width: 100%;
}
#networkImage{
    width: 100%;
}
#networkImage img{
    width: 100%;
}

/*
 * Video
 */
.videoSection{
    display: grid;
    grid-template: repeat(3,1fr) / repeat(4,1fr);
    width: 100%;
    height: 100vh;
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff, #393c43, #393c43, var(--black));
}
 #videoBackground{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    position: absolute;
    width: 100%;
   /*  height: auto; */
    justify-content: center;
    align-items: center;
/*     height: 400px;
    background: #01ff9f; */
}
#videoImg{
    background-size: cover;
    width: 100vw;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}
#videoBorder{
    width: fit-content;
    
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    border-radius: 25px;
    background-image: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue) 100%)!important;
}
.videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    width: 100vw;
}
/*
 * Donate
 */

.donate{
    background: var(--black);
    margin: auto;
}
.donateContainer, .bookContainer{
    margin: auto;
    background: var(--white);
    color: var(--black)!important;
    border-radius: 20px;
    padding: 40px;
}
#separator{
    width: 5px;
    background: var(--black);
    height: 100%;
}
.donateTitles{
    font-size: 25px;
}
#weTitle{
    font-weight: 100;
    font-size: 25px;
}
#weChange{
    background: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue));
    -webkit-background-clip: text;
    color: transparent;  
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 70px;
}

/*
 * Footer
 */
.footer{
    margin-bottom: -1px;
    background-color: var(--black);
    z-index: 1;
}
.fa-facebook-f, .fa-instagram, .fa-youtube{
    color: var(--white);
    font-size: 40px;
}
.fa-envelope, .fa-phone{
    color: var(--white);
    font-size: 20px;
}
#contactUs, #followUs{
    padding-top: 40px;
    padding-bottom: 40px;
}

.white-text{
    color: white!important;
    font-weight: 100;
}

.white-textUpper {
    color: white!important;
    font-weight: 700;
    font-size: 1.5rem !important;
    text-align: center;
}
.brands{
    justify-content: center;
}
.brandsContainer{
    padding: 20px;
    margin: 10px;
    /* border: 1px solid var(--white); */
    justify-content: center;
    display: flex;
    width: 70px;
    height: 60px;
    border-radius: 15px;
    align-items: center;
    background: var(--darkBlue);
}

.rights{
    justify-content: center;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: -2px;
}   

.rights p{
    font-style: italic;
    font-size: 15px;
}

@media (max-width: 700px) {
   /*  body {
      display: none;
    } */
    #heroImage, .heroContainer{
        display: none!important;
    }
    .heroText {
        position: relative;
        color: var(--white);
        grid-column: 1 / 6;
        grid-row: 2 / 2;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
    .signupContainer img {
        width: 50%!important;
    }
    #videoImg{
        display: none;
        /* background-size: cover;
        width: auto;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        height: 70vh; */
    }
    #videoBackground{
        grid-row: 1 / 4;
    }
    .videoSection{
        background:var(--black);
        /* background-image: linear-gradient(to right, var(--acuaBlue) 0%, var(--lightBlue) 100%)!important; */
    }

}

@media (min-width: 701px) {
    .signupContainer img {
        width: 50%!important;
    }
    #networkImage img {
        width: 40%!important;
        padding: 20px;
    }
    /* #videoBackground{
        grid-row: 1 / 3;
    } */

    .heroSection {
        margin-top: 10px;
    }
}


/* 

HACER UN MEDIA QUERY PARA 1600{
    mas pequeño el donar
    arreglar el videobackground 
}

necesito ina imagen cuadrada para el hero porque se deforma cuando se hace mas pequeño
en el video ponerle un titulo como video introductorio o algo asi 
mejorar la calidad de el dona aqui 

CAMBIO SOCIAL, CONSTRUIR PROPONER

agregar en el html
<div class="signupContainer d-lg-flex d-md-block d-sm-block">

    <img class="col-lg-5 col-md-6" src="assets/world.png" alt="mundo color negro">


    cambiar en nosotros en la barra de navegacion para que diga contacto

    agregar en rights en el parrafo &copy;
*/